<div class="container">
	<center>
		<h1>Men's Page</h1>		
	</center>
	<br>
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<a href="/one"><img class="img-responsive" src="./assets/hatguy.png" width="100%" height="100%"></a>
		</div>
		<div class="col-md-4 col-xs-12">
			<a href="/two"><img class="img-responsive" src="./assets/bagguy.png" width="100%" height="100%"></a>
		</div>
		<div class="col-md-4 col-xs-12">
			<a href="/three"><img class="img-responsive" id="bagguy" src="./assets/whiteshirt.png" width="100%" height="100%"></a>
		</div>
	</div>
</div>
