<div class="container">
	<center>
		<h1>Men's Page</h1>		
	</center>
	<br>
	<div class="row">
		<a href="/one"><img class="img-responsive" src="./assets/one.png" width="400" height="100"></a>
		<a href="/two"><img class="img-responsive" src="./assets/two.png" width="400" height="100"></a>
		<a href="/three"><img class="img-responsive" src="./assets/three.png" width="400" height="100"></a>
		<a href="/six"><img class="img-responsive" src="./assets/six.png" width="400" height="100"></a>
	</div>
</div>