<h1>Men's Page</h1>
<div class="container">
	<div class="row">
		<div class="col-md-3" id="one">
			<div class="thumbnail">		
			</div>
		</div>
		<div class="col-md-3" id="two">
			<div class="thumbnail">
				
			</div>
		</div>



	</div>
	
		

</div>