<br>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-6" >
			<img class="img-responsive" src="./assets/hatguy.png" width="200" height="200">
		</div>		
		<div class="col-md-3 col-xs-6">
				<img class="img-responsive" src="./assets/blue_fedora.png" width="100" height="100">
				<a href="https://lookastic.com/women/blue-wool-hat/shop/maison-michel-charlotte-fur-felt-fedora-hat-224774">Lookastic - $620</a>
		</div>
		<div class="col-md-3 col-xs-6">
				<img class="img-responsive" src="./assets/black_shades.png" width="100" height="100">
				<a href="http://www.amazon.com/Black-Classic-Blues-Sunglasses-Super/dp/B001K9DPPC">Amazon - $7.50</a>
		</div>
		<div class="col-md-3 col-xs-6">
				<img class="img-responsive" src="./assets/blue_shirt" width="100" height="100">
				<a href="http://www.amazon.com/Croft-Barrow-Fitted-Cotton-Sleeves/dp/B00TU7ZKTU/ref=sr_1_5?s=apparel&ie=UTF8&qid=1459123417&sr=1-5&nodeID=1045626&refinements=p_4%3ACroft+%26+Barrow">Amazon - $29</a>
		</div>
		<div class="col-md-3 col-xs-6">
			<img class="img-responsive" src="./assets/yellow_jacket" width="100" height="100">
			<a href="http://www.amazon.com/dp/B00VRSHG8S/?ref=cm_sw_r_pi_dp_dIYovb1501K8G">Amazon - $89</a>
		</div>
		<div class="col-xs-6">	
		</div>
		<div class="col-md-3 col-xs-6">
			<img class="img-responsive" src="./assets/blue_jeans.png" width="100" height="100">
			<a href="http://www.gap.com/browse/product.do?pid=178082002&vid=2&cvosrc=ppc.google.&cvo_campaign=210199298&cvo_adgroup=10149031538&cvo_crid=57328249298&Matchtype=&campaigntype=PLA&tid=gppl000001&kwid=1&ap=7&sem=true&mkwid=_dc&creative=57328249298&adpos=1o1&gclid=Cj0KEQjwid63BRCswIGqyOubtrUBEiQAvTol0RIte6DclhHSJPLHjOE4uDb5vxWY42MfnTWp9-a1cv4aAosT8P8HAQ">Gap - $59</a>
		</div>
	</div>
</div>


