<div class="container">
	<div class="text-center">
		<h1>Profile Page</h1>
		<div>
		<!-- can use '@' because created instance of current_user in the controller and can bring it over, now deleted the @ because of the helper method is no longer an instance -->
			<p><%= current_user.user_name %></p> 
		</div>
	</div>
	
</div>

