<div class="row">
	
	<div class="col-md-1"></div>
	<div class="col-md-10" id="wbackground">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="/women"><h1 class="text-center" id="white">Women</h1></a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>		
	</div>
	<div class="col-md-1"></div>	
</div>
<br>
<br>
<div class="row">
	
	<div class="row">
	
	<div class="col-md-1"></div>
	<div class="col-md-10" id="mbackground">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="/men"><h1 class="text-center" id="white">Men</h1></a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>		
	</div>
	<div class="col-md-1"></div>	
</div>
<br>
<br>
<div class="row">