				<!-- Jumbotron -->
<div class="jumbotron">
	<p>
		<center>
			<h1>Fashion Finder</h1>
			<h3>Find looks for cheaper</h3>
		</center>
	</p>
</div>
					<!-- 	Body   -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-xs-12" id="women">
        </div>
    </div>
</div>
	
	


