				<!-- Jumbotron -->
<div class="jumbotron">
	<p>
		<center>
			<h1>Style Up</h1>
			<h3>Find looks for cheaper</h3>
		</center>
	</p>
</div>
					<!-- 	Body   -->
				
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12 col-xs-12">
        	<img class="img-responsive", id="image" src="./assets/grey.png" width="100%" height="200">
        </div>
    </div>
</div>
	

