// Place all the styles related to the men controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#one {
	background-image: url(one.png);
		height: 300px;
		width: 100 px;
		background-repeat: no-repeat;
}

#two {
	background-image: url(two.png);
		height: 300px;
		width: 100 px;
		background-repeat: no-repeat;
}

#three {
	background-image: url(three.png);
		height: 300px;
		background-repeat: no-repeat;
}

#four {
	background-image: url(four.png);
		height: 300px;
		background-repeat: no-repeat;
}

#five {
	background-image: url(five.png);
		height: 300px;
		background-repeat: no-repeat;
}

#six {
	background-image: url(six.png);
		height: 300px;
		background-repeat: no-repeat;
}

