// Place all the styles related to the men controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#one {
	background-image: url(http://i.imgur.com/dt2uO8X.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
}

#two {
	background-image: url(http://i.imgur.com/yyfvcjp.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover;
}
