// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	height: 200px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-color: white;
}

#white {
	font-size: 71px;
	color: white;
}

#women {
	background-image: url('boom.png');
	height: 400px;
	background-repeat: no-repeat;
}

#men {
	background-image: url('ny.png');
	height: 400px;
	background-repeat: no-repeat;
}

