<div class="container">
	<center>
		<h1>Women's Page</h1>		
	</center>
	<br>
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<a href="/twos"><img class="img-responsive" src="./assets/twos.png" width="400" height="100"></a>
		</div>
		<div class="col-md-4 col-xs-12">
			<a href="/ones"><img class="img-responsive" src="./assets/ones.png" width="400" height="100"></a>
		</div>
		<div class="col-md-4 col-xs-12">
			<a href="/threes"><img class="img-responsive" src="./assets/threes.png" width="400" height="100"></a>
		</div>

	</div>
</div>


	
		