<div class="container">
	<center>
		<h1>Women's Page</h1>		
	</center>
	<br>
	<div class="row">
		<a href="/twos"><img class="img-responsive" src="./assets/twos.png" width="400" height="100"></a>
		<a href="/ones"><img class="img-responsive" src="./assets/ones.png" width="400" height="100"></a>
		<a href="/threes"><img class="img-responsive" src="./assets/threes.png" width="400" height="100"></a>
		<a href="/fours"><img class="img-responsive" src="./assets/fours.png" width="400" height="100"></a>
	</div>
</div>
