<br>
<div class="container">
	<div class="row">
		<div class="col-xs-6" >
			<img class="img-responsive" src="./assets/twos.png" width="200" height="200">
		</div>
		<div class="col-xs-4">
				<img class="img-responsive" src="./assets/femaleshades.png" width="100" height="100">
				<a href="http://www.shadesdaddy.com/Michael-Kors-Gstaad-Black-Women-s-Sunglasses-GL-p/michael-kors-gstaad-black.htm">Shades Daddy - $205</a>
		</div>
		<div class="col-xs-4">
				<img class="img-responsive" src="./assets/blouse.png" width="100" height="100">
				<a href="http://www.aliexpress.com/item/2015-Summer-ladies-t-shirt-women-Sleeveless-tank-top-sexy-cross-low-cut-V-neck-tight/32314977975.html?spm=2114.40010308.4.36.R1bldL">Aliexpres - $9.99</a>
		</div>
		<div class="col-xs-6">
		</div>
		<div class="col-xs-4">
				<img class="img-responsive" src="./assets/skirt" width="100" height="100">
				<a href="http://www.amiclubwear.com/clothing-skirt-r6-b1189white.html">AMI Clubwear - $9.99</a>
		</div>

	</div>
</div>